.text, #MyListings, #Categories, #PlaceBid, #listedBy, #productTitle, #category_each, #categories, #form_body, #form_header, #watchlist_header, #profile_header, #name_at_bottom_of_website, p, a, h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

div h4 {
  font-weight: bold;
  font-size: 600;
}

/* NAVBAR */
#logo {
  height: 40px;
  width: 40px;
  margin: 10px;
}

#navBar {
  float: right;
}

.nav-link {
  color: #606060;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.nav-item {
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  font-size: small;
  border-radius: 10px;
  padding: 2px;
}

.nav-item:hover {
  background-color: rgba(112, 212, 235, 0.5882352941);
}

/* CAROUSEL IMAGES */
#carousel {
  margin-left: 30px;
  margin-bottom: 150px;
  height: 450px;
  text-align: center;
}

.carousel_container {
  height: 400px;
  float: left;
  width: 30%;
  margin: 10px;
}

#carousel_image {
  height: 340px;
  width: 270px;
}

/* FOOTER */
#footer {
  width: 100%;
  float: left;
  height: 300px;
  background-color: #74d6ec;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.footertext {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 5px;
}

#name_at_bottom_of_website {
  font-size: smaller;
  font-weight: bold;
  width: 100%;
  float: left;
  position: relative;
  height: 20px;
  text-align: center;
}

#back_to_top {
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0);
}

/* CREATELISTING FORM */
#form_header, #watchlist_header, #profile_header {
  padding: 10px;
  background-color: #74d6ec;
}

#form_body {
  background-color: rgba(96, 96, 96, 0.0901960784);
  padding: 10px;
}

.form_label {
  float: left;
}

.form_field {
  margin-left: 100px;
}

#form_field_container {
  width: 500px;
  height: 70px;
  margin: 10px;
}

.submitButton {
  border-width: 0px;
  margin: 20px;
  margin-left: 250px;
  background-color: #74d6ec;
  color: rgb(0, 0, 0);
}

/* INDEX PAGE */
#categories {
  font-size: 40px;
  padding: 15px;
  width: 100%;
  height: 200px;
  background-color: #74d6ec;
  flex-wrap: wrap;
}

#category_each {
  border-radius: 3px;
  width: 100px;
  font-size: large;
  margin-left: 20px;
  color: #000000;
}

#products {
  float: left;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.listings {
  padding: 15px;
  margin: 20px;
  border-width: 5px;
  width: 270px;
  height: 350px;
  border-radius: 10px;
}

.listings:hover {
  box-shadow: 0 0 20px #74d6ec;
}

#product_image {
  height: 200px;
  width: 200px;
}

.images {
  height: 300px;
  width: 400px;
  background-color: #74d7ec;
}

/* INDIVIDUAL LISTING */
.floatingbox {
  width: 800px;
  height: 400px;
  background-color: rgb(216, 211, 205);
  margin-left: 100px;
  padding: 10px;
  border-radius: 20px;
}

#ListingDetails {
  width: 100%;
  height: 510px;
  padding: 40px;
}

#image_placeholder {
  position: absolute;
  float: left;
  width: 500px;
  height: 500px;
}

#text_placeholder {
  padding-top: 80px;
  position: relative;
  float: left;
  top: -10px;
  left: 500px;
  width: 500px;
  height: 500px;
  margin: 10px;
  margin-left: 0px;
  padding: 40px;
}

#productTitle {
  font-size: 35px;
}

#listedBy {
  color: #000000;
}

#starting_price {
  width: 50%;
  float: left;
  margin-right: 0px;
  text-align: center;
}

#top_bid {
  width: 50%;
  float: right;
  text-align: start;
}

.price {
  font-size: 30px;
}

#PlaceBid {
  width: 400px;
  height: auto;
  margin-left: 0;
}

#Watchlist {
  background-color: #74d6ec;
  border-width: 0px;
  display: none;
}

#Categories {
  margin: 20px;
  font-size: 30px;
  height: 200px;
}

#CommentSection {
  padding: 40px;
  text-align: start;
  width: 100%;
  align-self: center;
  height: auto;
}

#commentbox {
  height: -moz-fit-content;
  height: fit-content;
  width: 950px;
  background-color: white;
  align-self: center;
  padding: 10px;
  padding-left: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

#userid {
  width: 20ch;
  float: left;
  margin-right: 30px;
}

/* PROFIL/ACCOUNTS PAGE */
#links {
  height: 200px;
  background-color: #ebebeb;
}

#linksections {
  color: #606060;
}

#MyListings {
  margin: 20px;
}

.LandB {
  padding: 20px;
  margin: 70px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* WATCHLIST PAGE *//*# sourceMappingURL=styles.css.map */