#logo {
  padding: 5px;
  color: #74d7ec;
  font-weight: bold;
  float: left;
  --h: 1.2em; /* the height */
  line-height: var(--h);
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 var(--_t, var(--h)) #74d7ec, 0 0 var(--_c, #74d7ec);
  background: linear-gradient(#ebebeb 0 0) bottom/100% var(--_d, 0) no-repeat;
  overflow: hidden;
  transition: 0.3s;
}

#logo:hover {
  --_d: 100%;
  --_t: 0;
  --_c: #0000;
}

#navBar {
  float: right;
}

.nav-link {
  color: #606060;
}

.nav-link:hover {
  color: white;
}

.nav-item {
  border-left: 0.5px solid black;
  height: 38px;
  /*  background: linear-gradient($freshBlue 0 0) var(--p, 0) / var(--p, 0) no-repeat;
   transition: .4s, background-position 0s; */
}

.nav-item:hover {
  background-color: #74d7ec;
}

#catchyPhrase {
  height: auto;
  width: 100%;
  /*  text-align: center;
   font-size: 40px;
   padding-top: 80px; */
}

#flexbox {
  display: block;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}

.listings {
  padding: 15px;
  margin: 20px;
  border-width: 5px;
  width: 270px;
  height: 300px;
  border-radius: 10px;
}

.listings:hover {
  box-shadow: 0 0 20px #74d7ec;
  /*     box-shadow: 0 0 50px black;
   */
}

.images {
  height: 300px;
  width: 400px;
  background-color: #74d7ec;
}

/* LISTING PAGE STARTS HERE */
.floatingbox {
  width: 800px;
  height: 400px;
  background-color: rgb(216, 211, 205);
  margin-left: 100px;
  padding: 10px;
  border-radius: 20px;
}

#ListingDetails {
  width: 100%;
  height: 510px;
  padding: 40px;
}

#image_placeholder {
  position: absolute;
  float: left;
  width: 500px;
  height: 500px;
}

#text_placeholder {
  padding-top: 80px;
  position: relative;
  float: left;
  top: -10px;
  left: 500px;
  width: 500px;
  height: 500px;
  margin: 10px;
  margin-left: 0px;
  padding: 40px;
}

.text, #k, .xxx, #MyListings, #Categories, #PlaceBid, #listedBy, #productTitle, p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#productTitle {
  font-size: 35px;
}

#listedBy {
  color: #000000;
}

#SP {
  width: 50%;
  float: left;
  margin-right: 0px;
  text-align: center;
}

#TB {
  width: 50%;
  float: right;
  text-align: start;
}

.price {
  font-size: 30px;
}

#PlaceBid {
  width: 400px;
  height: auto;
  margin-left: 0;
}

.submitButton {
  border-width: 0px;
  margin: 20px;
  margin-left: 250px;
  background-color: #74d7ec;
  color: white;
}

#Watchlist {
  background-color: #74d7ec;
  border-width: 0px;
}

#Categories {
  align-items: center;
  font-size: 30px;
  margin: 40px;
  margin-bottom: 0px;
  height: 200px;
}

#CommentSection {
  padding: 40px;
  text-align: start;
  width: 100%;
  align-self: center;
  height: auto;
}

#commentbox {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 950px;
  background-color: white;
  align-self: center;
  padding: 10px;
  padding-left: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

#userid {
  width: 20ch;
  float: left;
  margin-right: 30px;
}

#hello {
  margin: 20px;
}

#links {
  height: 200px;
  background-color: #ebebeb;
}

#linksections {
  color: #606060;
}

#MyListings {
  margin: 20px;
}

.LandB {
  padding: 20px;
  margin: 70px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.xxx {
  margin: 15px;
}

#createListingform {
  margin: 20px;
  width: 500px;
}

#footer {
  height: 300px;
  background-color: #74d7ec;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.footerbox, #sign, #About, #contactMe {
  float: left;
  margin: 20px;
  height: 160px;
  padding: 5px;
}

#contactMe {
  width: 30%;
}

#About {
  width: 30%;
  /*  background-color: #74d7ec; */
}

#sign {
  float: right;
  width: 30%;
}

#k {
  font-size: smaller;
  font-weight: bold;
  width: 100%;
  float: left;
  position: relative;
  height: 20px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */