{% extends "auctions/layout.html" %}

{% block body %}
    <h3 class="xxx">Listings in {{ cat_name }}</h3>
    <div id="flexbox">
        {%for listing in listings%}
        <div class="listings" >
            <div classes="images" >
                <img src="/media/{{ listing.image }}" alt="{{ listing.caption }} " style="height: 230px; width: 200px;" >
                
            </div>
            <a href="{% url 'listing' listing.id %}">{{ listing.Item_Name }}</a>  <br> Starting price:${{ listing.Starting_price }} 
        </div>
        {%empty%}
               There are no listings for this category right now. Come back later
        {%endfor%}

    </div>
    <div id="productTitle" style="margin: 20px;">
        <h5>Browse other categories</h5>
    {% for category in Categories %}
        <a href="{% url 'categories' category.Category  %}">{{category}}</a> <br>
    {% endfor %}
    </div>
    
{% endblock%}