{% extends "auctions/layout.html" %}

{% block body %}
    <h3 class="xxx">Hey there, you want to auction something? <br>Let us help you!</h3>
    <h4 class="xxx">Fill out the form below</h4>
    <form action="{% url 'createListing' %}" method="post" id="createListingform">
        {% csrf_token %}
        {% for field in form %}
    <div class="xxx">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}

        <input type="submit" class="submitButton" value="Create Listing">
    </form>
    
    

{% endblock%}