{% extends "auctions/layout.html" %}
{% load static%}

{% block body %}
    <div>
        <div id="carousel">
            <h4> Items of the Day! Get them now at 20% off </h4>
            
        </div> 
        <div id="categories">
            Browse by Categories: 
            {%for category in categories%}
            <a href="{% url 'categories' category %}" id="category_each"> {{category}} </a> 
            {%endfor%}
        </div>
        
        
        <div id="products">
            {%for listing in listings%}
                <div class="listings" >

                    <a href="{% url 'listing' listing.id %}" >
                        <img src="media/{{ listing.image }}" alt="{{ listing.caption }} " id="product_image" ><br>
                        {{ listing.Item_Name }}
                        <br> Starting price:${{ listing.Starting_price }} 
                    </a>
                </div>
                
            {%empty%}
                All listings have been bought. Come back later
            {%endfor%}

        </div>
        
    
    </div>
  
{% endblock %}

{% block script %}
    <script src="{% static 'auctions/load_products.js' %}"></script>
 {% endblock %}