{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
        {% block script %}
        {% endblock %}
    </head>


    <body style="background-color: #60606017;">

        
        <nav class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">{% comment %} logo/also acts as home button {% endcomment %}
            
                <a class="navbar-brand" href="{% url 'index' %}"><img src="/media/images/logo.png" id='logo' class="d-inline-block align-text-middle">Auctions </a> 
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto" >
                        
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' user.id %}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'createListing' %}">Create a Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>  
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <section>
            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>
        </section>
        
        
        


        <section id="footer">
          <div  class="container-fluid p-3">
                <div class="d-md-flex">
                    <div class='p-2'>
                        <p> 
                            <h4> Contact Me</h4>
                            Any questions? Interested in working with me? <br>
                            Send a message to: 08120140153 <br>
                            Send an e-mail to: bakaretobiloba13@gmail.com
                        </p>
        
                    </div>
                    <div  class='p-2'>
                        <p>
                            <h4>About this Project</h4>
                            I built this website as a project for CS50's web programming course(top course. <br> Would definitely recommend for anyone interested in learning web dev.) 
                        </p>
        
                    </div>
                    <div  class='p-2'>
                        <p>
                            <h4> Languages Used</h4>
                            
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Python(Django)</li>
                                <li>Vanilla Js</li>
                            </ul>
                        </p>
        
                    </div> 
                    
                </div>
                <div class="text-center"> <hr><p class="lead">Copyright &copy; Bakare Oluwatobiloba </p> </div>
            </div>   
        </section >


         
    </body>
</html>
