{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script src="{% static 'auctions/watchlist.js' %}"></script>
    </head>
    <body>
        <div>
            <h3 id="logo">TOBIAS' AUCTION HOUSE!</h3>
            <!-- <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div> -->
            <div id="navBar">
                <ul class="nav" >
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Shop</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' user.id %}">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'createListing' %}">Create a Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>  
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <br><hr style="margin-bottom: 0px; ">
        {% block body %}
        {% endblock %}

        <div id="footer">
            
            <div>
                <div id="contactMe">
                    <h4> Contact Me</h4> 
                    <p> Any questions? Interested in working with me? <br>
                        Send a message to: 08120140153 <br>
                        Send an e-mail to: bakaretobiloba13@gmail.com
                        
                    </p>
    
                </div>
                <div id="About">
                    <h4>About this Project</h4>
                    <p>I built this website as a project for CS50's web programming course(top course. <br> Would definitely recommend for anyone interested in learning web dev.) </p>
    
                </div>
                <div id="sign">
                    <h4> Languages Used</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Python(Django)</li>
                        <li>Vanilla Js</li>
                    </ul>
                    
    
                </div>  
                
            </div>
            
            <div id="k">
                <hr>
                <p> Bakare Oluwatobiloba    .    2022 Nov</p>
                
            </div>
            
        </div>
    </body>
</html>
