{% extends "auctions/layout.html" %}


{% block body %}
    <div>
        <div id="ListingDetails">
            <div id="image_placeholder">
                <img src="/media/{{ listing.image }}" alt="{{ listing.caption }} " style="height: 500px; width: 500px;" >
            </div>
            <div id="text_placeholder">
                <div  id="productTitle"> {{ listing.Item_Name }}  </div>
                <h6 id="listedBy">Listed by {{listing.owner}}<a id="listedBy" href="{% url 'profile' listing.owner.id %}"> </a> </h6>
                <hr> 
                <div class="text" >
                    {{ listing.Description }} 
                    <hr>
                    <div id="SP"> <u>Starting price</u>  <br> <h5 class="price"> ${{ listing.Starting_price}} </h5> 
                    </div>
                    <div id="TB"> <u>Top Bid</u> <br> <h5 class="price">${{ topBid }}  by {{topBidowner}}</h5>   
                    </div>
                    <hr>
                    {% if not closed %}
                    <div id="PlaceBid">
                        <div  class="text" style="text-align: center;"> Place a Bid <br> </div>
                        <form action="{% url 'PlaceBid' listing.id  %}" style="margin:10px; " method="post">
                            {%csrf_token%}
                            {{ form }} <br>
                            
                            <input class="submitButton" type="submit" value="Place Bid" >
                        </form>
                        
                        
                        <button id="Watchlist">Add to Watchlist</button>
                        
                        <div style="margin-left:30px ; font-size: smaller;"> All bids are final. Bids are placed in Dollars($) </div>
            
            
                    </div>
                    {%else%}
                    <h4> This listing is closed for auctioning <br> Item won by {{topBidowner}} for ${{ topBid }}  </h4>
                    {%endif%}


                </div>
            </div>
        </div>
        <div id="Categories">
            Other listings in: <a href="{% url 'categories' listing.category.Category %}">{{listing.category}}</a> 

        </div>
        <hr>
        {% if user.is_authenticated %}
        
        <div id="CommentSection">
            <form action="{% url 'leaveComment' listing.id %}" method="post" style="margin-left: 15px;">
                {% csrf_token %}
                {{ form2 }}
                <input type="submit" value="Send Comment" class="submitButton  " style="margin-left: 780px;">

            </form>
            <h3 >Comment Section</h3>
            {% for comment in comments%}
            <div id="commentbox">
                <div id="userid">
                    <h6>{{comment.Commenter_id}}</h6> 
                </div>
                <div id="userComment">
                    {{comment.Comment}}
                </div>
                
                    
            </div>
            {%empty%}
            <p>Wow, such empty. Be the first to comment! </p>
            {% endfor %}  
            
        </div>
        {% else %}
        <div id="PlaceBid" style="text-align: center; padding-top: 20px;">
            <h4>Sign-in to place bids/leave comments</h4> 
        </div>
            
        {% endif %}
    </div>




    


{% endblock %}